@page "/"
@using MeinPortfolio.Services
@using MeinPortfolio.Models


<div class="terminal">
    <div class="terminal-header">
        <div>Terminal Portfolio - @NavigationService.GetSectionPath()</div>

    </div>
    <div class="terminal-body" id="terminal-body">
        @foreach (var line in output)
        {
            if (line.IsHtml)
            {
                <div>@((MarkupString)line.Content)</div>
            }
            else
            {
                <div>@line.Content</div>
            }
        }



    </div>
    <div class="terminal-input">
        <span>$ </span>
        <input @bind="input" @bind:event="oninput" @onkeydown="HandleKeyPress" @ref="inputElement" autofocus />
    </div>
</div>
